{% extends 'ZhpFrontendBundle::base_login.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form class="form-signin" action="{{ path('login') }}" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" name="_username" id="inputEmail" class="form-control" placeholder="Adres e-mail" value="{{ last_username }}" required autofocus>
                <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Hasło" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me" checked> Zapamiętaj mnie
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Logowanie</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Zapomniałeś hasła?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}